* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #444;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
}
.side-bar {
    background-color: aqua;
    width: 300px;
    height: 100vh;
}

.main-library {
    width: 100%;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(6, minmax(240px, 1fr));
}

.form-container {
    background-color: aquamarine;
}

.input-con {
    padding: 4px 0;
}

.input-con > label {
    display: block;
}

.inputs {
    width: 224px;
    height: 28px;
    border: solid 2px #dddddd;
    border-radius: 14px;
    transition: 0.3s;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
}

.inputs:focus {
    border: 2px solid #60e28b;
}

.button {
    width: 228px;
    height: 28px;
    border-radius: 14px;
    margin: 20px 0 20px 0;
    border: 2px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    color: #444;
}

.test {
    text-align: center;
}

.book-card {
    margin: 8px auto;
    background-color: #fff;
    width: 90%;
    height: 150px;
    display: grid;
}

.card-info {
    padding-top: 8px;
    padding-left: 8px;
    border-bottom: solid 1px #ddd;
}